.midi-page {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.module-box {
    background-color: var(--tertiary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

header {
    margin-bottom: 20px;
}

.file-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.upload-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="file"] {
    background-color: var(--tertiary-bg-color);
    color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--highlight-hover-color);
}

button {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: var(--tertiary-bg-color);
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: var(--highlight-hover-color);
}

.result-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-link {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.download-link:hover {
    background-color: var(--highlight-hover-color);
}

.error {
    color: var(--error-color);
    font-weight: bold;
    margin-top: 10px;
}
